<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.3/angular.js" data-semver="1.4.3"></script>
  <script src="script.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type='text/css' rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>

<header>
		<div class="panel panel-default">
			<div class="panel-heading">Sono l'header</div>		
		</div>
</header>

<body ng-controller="MainCtrl">
  <div class="row">
    <div class='col-sm-12'>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">
              <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
            </th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees">
            <td class="text-center">
              <input type="checkbox" ng-model="employee.selected" ng-change="setSelectedEmployee(employee)"/>
            </td>
            <td>{{employee.fname}}</td>
            <td>{{employee.lname}}</td>
            <td>{{employee.salary}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='col-sm-12' style="padding-left:30px">
      <form  name="myForm" class="form-horizontal" role="form" ng-submit="addRow()">
        <div class="form-group">
          <label class="col-md-2 control-label">Nome</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="fname" ng-required="true" ng-model="selectedEmployee.fname" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Cognome</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="lname" ng-required="true" ng-model="selectedEmployee.lname" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Salario</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="salary" ng-required="true" ng-model="selectedEmployee.salary" />
          </div>
        </div>
        <div class="form-group" style="padding-left:15px">
          <div>
            <input type="button" value="Inserisci" ng-if="!singleEmployeeSelected" ng-disabled="myForm.$invalid" ng-click="addRow()" class="btn btn-primary" />
            <input type="button" value="Modifica" ng-if="singleEmployeeSelected" ng-disabled="myForm.$invalid" ng-click="edit()" class="btn btn-primary" />
            <input type="button" class="btn btn-danger" ng-click="remove()" ng-disabled="myForm.$invalid" ng-disabled="$scope.employees.selected.length" value="Cancella">
          </div>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="errorMessage === true">
			Il record già esiste!
        </div>
      </form>
    </div>
  </div>
</body>

<footer>	
	<div class="panel panel-default">
		<div class="panel-footer">Sono il Footer</div>
	</div>
</footer>

</html>